<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projects.sparsh.tripsplit" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".new_trip_one_activity"
            android:label="New Trip" >
        </activity>
        <activity android:name=".new_trip_two_activity" >
        </activity>
        <activity android:name=".all_trips_list_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".new_expense_activity" >
        </activity>
        <activity android:name=".peoples_activity" >
        </activity>
        <activity android:name=".comboActivity" >
        </activity>
    </application>

</manifest>
